body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h2   {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.red_box {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(128, 0, 0);
    padding: 50px;
}

.blue_box {
    border-style: solid;
    border-width: 3px;
    border-color: aqua;
    padding: 50px;
}

.center_box {
    margin: auto;
    width: 50%;
    background-color: rgba(50, 50, 50, 0.1);
    transition: 0.2s;
}

.center_box:hover {
    background-color: rgba(72, 75, 102, 0.3);   
    padding: 25px;
    border-width: 5px;
}