body {
    font-family: 'Mali', cursive;
    
}

h1 {
    font-family: 'Mali', cursive;
    font-size: 100px;
}

h2 {
    font-family: 'Mali', cursive;
    font-family: 'Indie Flower', cursive;
}

.red_box {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(128, 0, 0);
    padding: 50px;
}

.blue_box {
    border-style: solid;
    border-width: 3px;
    border-color: aqua;
    padding: 50px;
}

.center_box {
    margin: auto;
    width: 50%;
    background-color: rgba(155, 155, 155, 0.1);
    transition: 0.2s;
}

.center_box:hover {
    background-color: rgba(161, 161, 161, 0.3);   
    padding: 25px;
    border-width: 5px;
}

#red:hover {
    background-image: url(https://new.static.tv.nu/16831584?width=720&height=405);
    color: rgba(0, 0, 0, 0)
}
#blue:hover {
    background-image: url(https://new.static.tv.nu/16831584?width=720&height=405);
    color: rgba(240, 248, 255, 0);
}
